<div id="container">
  <h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions loginBtn primary-color btn-margin" id="signup-button">
    <%= f.button :submit, "Sign up", class:"links" %>
  </div>
  <% end %>
  <div id="box">
    <p class="signup-link"> Don't have an account?</p>
    <div id="signup-button", class="loginBtn primary-color"><%= render "devise/shared/links" %></div>
  </div>
</div>

