<div id="booking-confirmation-container">

  <div class="booking-summary">
    <h1>
      Thanks for booking
      <%= @booking.planet.name %>
    </h1>
    <div class="booking-location-container">
      <i class="fas fa-map-marker-alt"></i>
      <h3>
        <%= @booking.planet.location %>
      </h3>
    </div>
    <h6> Checkin Date <span class="light-font"><%= @booking.checkin_date %></span></h6>
    <h6> Checkout Date <%= @booking.checkout_date %> </h6>
    <div class="confirmation-button-container">
      <div class="confirmation-button">
         <%= link_to "My Bookings", bookings_path%>
      </div>
    </div>
  </div>
  <div class="booking-image"><%= cl_image_tag @booking.planet.photo.key, height: 300, width: 400, crop: :fill %>

  </div>

</div>



