<%= simple_form_for(@planet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :description %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, id: 'submit-button' %>
  </div>
<% end %>



<div class="loader">
  <%= image_tag "loading.gif" %> <br>
  <p>Loading planet</p>
</div>
<script>
  const submit = document.querySelector('#submit-button')
  submit.addEventListener("click", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hidden"; // class "loader hidden"
});</script>
