<div class="container">
  <ul>
  <% @planets.each do |planet| %>
    <li>
      <h1><%= planet.name %></h1>
      <br>
      <p><%=planet.location %></p>
      <br>
      <p><%= planet.price%> euros</p>
      <br>
      <p><%= link_to 'Show details', planet_path(planet) %> </p>
    </li>
  <% end %>
  </ul>
</div>


<% if  policy(Planet).new? %>
  <%= link_to 'Create A Planet', new_planet_path %>
<% end %>
