<div class="container">
  <div class="shizzle">
    <h1><%= @planet.name %></h1>
    <p><%= @planet.price %>€/day</p>
  </div>

  <div class="planet-location">
    <i class="fas fa-map-marker-alt"></i>
    <p><%= @planet.location %> </p>
  </div>

  <div class="grid-container">
    <div class="img-big"style="background-image: url('<%= cl_image_path @planet.photos[0].key, crop: :fill %>')"></div>
    <div class="img-small-1"style="background-image: url('<%= cl_image_path @planet.photos[1].key, crop: :fill %>') "></div>
    <div class="img-small-2"style="background-image: url('<%= cl_image_path @planet.photos[2].key, crop: :fill %>')"></div>
    <div class="img-small-3"style="background-image: url('<%= cl_image_path @planet.photos[3].key, crop: :fill %>')"></div>
    <div class="img-small-4"style="background-image: url('<%= cl_image_path @planet.photos[4].key, crop: :fill %>')"></div>
  </div>

  <div class="grid-info">
    <div class="title-capacity">
      <h2>Beautiful and huge entire planet to rent in <br>the middle of the galaxy</h2>
      <p>48 billion people capacity · 1 bed </p>
    </div>
    <div class="planet-description">
      <p><%= @planet.description %></p>
    </div>
    <div class="booking-button">
      <%= link_to "Book this planet", new_planet_booking_path(@planet, @booking) %>
    </div>
    <div class="user-photo-name"></div>
  </div>
</div>
<div class="loader">
  <%= image_tag "loading.gif" %>
</div>
<script>window.addEventListener("load", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hidden"; // class "loader hidden"
});</script>
