<div class="container">

  <div class="shizzle">
      <h1><%= @planet.name %></h1>
      <p><%= @planet.price %>€/day</p>
  </div>

  <div class="planet-location">
    <i class="fas fa-map-marker-alt"></i>
    <p><%= @planet.location %> </p>
  </div>

  <div class="grid-container">
  <div class="img-big"></div>
  <div class="img-small"></div>
  <div class="img-small-2"></div>
  <div class="img-small-3"></div>
  <div class="img-small-4"></div>
</div>

 <div class="grid-info">
  <div class="title-capacity">
    <h2>Beautiful and huge entire planet to rent in <br>the middle of the galaxy</h2>
    <p>48 billion people capacity · 1 bed </p>
  </div>
  <div class="planet-description">
    <p><%= @planet.description %></p>
  </div>
  <div class="booking-button">
    <%= link_to "Book this planet", new_planet_booking_path(@planet, @booking) %>
  </div>
  <div class="user-photo-name"></div>
</div>

</div>

