<div id="container">
<h1>Create a new review for <%= @planet.name %></h1>

<div class="form-inputs">
  <%= simple_form_for [@planet, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
</div>
<div class="form-actions btn-margin loginBtn align-center" id="primaryBtn">
  <%= f.button :submit, class:"links" %>
</div>
  <% end %>
</div>
</div>
